/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* background image */
body {
    background-image: url('images/background.png');
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-position: center;
    position: relative;
}

/* translucent overlay on background for improved text readability */
body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

/* ensures that all elements of body are on top of the overlay */
body > * {
    position: relative;
    z-index: 1;
}

/* navbar */
nav {
    background-color: white;
    padding: 5px 20px ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}
.logo {
    height: 45px;
}
.navelements {
    margin: 7px;
    text-decoration: none;
    color: black;
}
.icon {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.left, .right {
    display: flex;
    align-items: center;
}
.right {
    gap: 20px;
}

/* other front page elements */
.front-page-img {
    height: 525px;
    transform: scaleX(-1);
    float: right;
    margin: auto 10px;
}
.main-content {
    position: relative;
}
.welcome {
    position: absolute;
    top: 75px;
    left: 25px;
    width: 800px;
    background: linear-gradient(to right, orange, rgb(233, 101, 123));
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}
.welcome-text {
    margin: 10px;
    margin-bottom: 0;
    padding-left: 15px;
}
.intro-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 25px;
    margin-top: 0;
}
.additional-text {
    position: absolute;
    top: 225px;
    left: 25px;
    padding-left: 23px;
    width: 550px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: black;
    line-height: 2;
    text-shadow: 1px 1px 15px;
}
.start-button {
    text-align: center;
    position: relative;
    top: 400px;
}
.start {
    padding: 13px;
    background: linear-gradient(to right, rgb(233, 101, 123), orange);
    border-radius: 17px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.start:hover {
    transform: scale(1.025);
}
.start:active {
    transform: scale(0.97);
}

/* -------------------------------------------------------------------------------------------------------------- */

.select-lang {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}
.container1 {
    padding: 25px;
    padding-left: 35px;
}
.lang {
    display: inline-block;
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    margin: 25px;
    padding: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    transition: background-color 0.25s ease;

}
.lang > img {
    height: 100px;
    border: 2px solid black;
}
.lang:hover {
    background-color: rgb(170, 170, 170);
}
a {
    text-decoration: none;
    color: inherit;
}
.country {
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------------------------------------------------------------------------------- */
.content{
    display:flex;
    align-items: center;
    justify-content:left;
    gap:10 px;
    position:relative;
    z-index:1;
    padding:20px;
    color:white;
    text-align: center;
    flex-wrap: wrap;
}

.change{
    position:absolute;
    height:30px;
    width:150px;
    margin: -170px 1170px;
    cursor:pointer; 
    text-align: center;
    font-family:"Poppins", sans-serif;
    background-color: beige;
    background: linear-gradient(to right, orange, rgb(233, 101, 123));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border:3px;
} 
.change:hover{
  transform:scale(1.02);
}
.lottie-container {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 15px;
}
#book-animation {
  transform: translateY(-4px); /* move up a little */
}

/*----------------------------------------------------------------------------------------------------------------*/

#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 20px;
    max-width: 550px;
    margin: 100px auto;
    background: linear-gradient(to right, rgb(227, 203, 122), rgb(236, 126, 163));
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 45px;
}

#ques_display {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.mcq-options {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: #eee;
    cursor: pointer;
    transition: all 0.2s ease;
}

.mcq-options:hover {
    transform: scale(1.025);
}
.mcq-options:active {
    transform: scale(0.97);
}

.mcq-options.selected {
  background-color: lightblue;
}

#check-btn {
    padding: 10px 25px;
    font-size: 16px;
    border: 2px solid wheat;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to left, rgb(233, 101, 123), orange);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

#next-btn {
    font-size: 20px;
    border: none;
    border-radius: 2px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, rgb(123, 241, 123), rgb(111, 214, 249));
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    margin-bottom: 20px;
}

#check-btn:hover, #next-btn:hover {
    transform: scale(1.005);
}
#check-btn:active, #next-btn:active {
    transform: scale(0.97);
}

#check-btn:disabled {
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
}

.options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    padding-top: 45px;
}

.nextDiv {
    display: flex;
    justify-content: center;
}

.feedbackDiv {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.fill-input {
    margin-top: 50px;
}

.translation-text {
    font-size: 14px; 
    font-style: italic; 
    color: #000000; 
}

#drag_drop_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.dragOptions, .dropOptions {
    border: 2px solid black;
}

.dragOptions {
    margin-bottom: 10px;
    background-color: white;
}

.dropOptions {
    transition: background-color 0.3s ease;
}

.dropzone_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#dropZone {
    width: 175px;
    height: 30px;
    border: 2px dashed black;
    display: flex;
    align-items: centre;
    justify-content: center;
}

/*----------------------------------------------------------------------------------------------------------------*/

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup-content {
    background-color: #fff;
    padding: 20px 30px;
    padding-bottom: 45px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: "Poppins", sans-serif;
}

.popup-content > p {
    padding-bottom: 15px;
    font-size: 20px;
}

#popup_btn {
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to left, rgb(233, 101, 123), orange);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

#popup_btn:active {
    transform: scale(0.97);
}

.xp-lives-bar_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xp_lives-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#progressbar {
    position: relative;
    margin-right: auto !important;
    width: 300px;
    height: 25px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 50px;
}

#progress {
    background-color: wheat;
    width: 40%;
    height: 100%;
}

#progress-written {
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

#xp, #lives {
    margin-left: auto !important;
}

#xp, #lives {
    border: 2px solid black;
    display: inline-flex;
    font-size: 25px;
    background-color: wheat;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0 20px;
    min-width: max-content;
}



